.container{
	width: 400px;
    margin: 0px auto;	
	background: #447;
} 

.item{
	margin: 5px;
	padding: 5px;
	
	font-size:1em;
	color: #fff;
}

.flexivel{
	display: flex;	
}

.horizontal{
	flex-direction: row;
}
.horizontal__inverte{
	flex-direction: row-reverse;
}

.vertical{
	flex-direction: column;
}

.vertical__inverte{
	flex-direction: column-reverse;
}

.quebra__linha{
	flex-wrap: wrap;/*quebra de linha se não couber no main axe*/
	/*flex-wrap: nowrap; não quebra linha*/
	/*flex-wrap: wrap-reverse; inverte o main axe e quebra a linha*/
}
.horizontalComQuebra{
	flex-flow: row wrap;
}
.alinhamento__axes{
	justify-content: center;
}

.alinhamento__secundario{
	align-items: center;
}

.alinhamento__content{
	align-content: center;
}
